<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ByteBuddy</title>
    <link rel="stylesheet" href="/static/style1.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>

<header class="header">
    <nav class="nav">
        <ul class="nav__links">
            <li class="nav__item">
                <a class="nav__link hello" href="#section--1">Home</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#section--2">Machine</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#section--3">Web-dev</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#section--4">We-people</a>
            </li>
            <li class="nav__item">
                <a class="nav__link nav__link--btn btn--show-modal" href="#"
                >Open account</a
                >
            </li>
        </ul>
    </nav>



    <section class="section0" id="section--1">
        <div class="first-grid">
            <div class="heading-main">
                <h2><span class="head1">Power</span><br> <span class="head2">Generative AI</span><br> <span class="head3"> With your data</span></h2>
                <p class="paragraph-one">
                    Combine the power of Machine Learning with Web Development, <br>
                    and you’ll build not just websites, but intelligent experiences.
                </p>
                <button class="button-one"><span class="btn btn-old">Explore More</span></button>
                <button class="button-one"><span class="btn btn-new">Learn More</span></button>
            </div>
            <div>
                <img class="second-image" src="/static/image/planet2.jpg" alt="gradient desent">
            </div>
        </div>
    </section>



</header>


<section class="section"id="section--2">

    <div class="for for1">
        <div class="cen"><span class="about">WHAT IS MACHINE LEARNING</span></div>
        <div class="about1">
            <div class="about1">
                <span class="s1 on">Machine learning is a vital subset of artificial intelligence that focuses on developing algorithms capable <br></span>
                <span class="s2  on">of learning from data and making decisions or predictions without being explicitly programmed. It <br></span>
                <span class="s3 on">leverages large datasets to recognize patterns, enabling systems to adapt and improve over time. There <br></span>
                <span class="s4 on">are three main types of machine learning: supervised, unsupervised, and reinforcement learning.<br></span>
                <span class="s5 on">In supervised learning, models are trained on labeled datasets, where the correct output is known,<br><br></span>
                <span class="s6 on"> making it ideal for tasks like classification and regression. Unsupervised learning, on the other hand,<br> </span>
                <span class="s7 on">deals with unlabeled data, where the algorithm identifies hidden patterns or groupings within the data, <br></span>
                <span class="s8 on">commonly used in clustering and dimensionality reduction. Reinforcement learning involves an agent<br></span>
                <span class="s9 on"> that learns to make decisions by interacting with an environment, receiving feedback through rewards or<br><br></span>
                <span class="s10 on"> penalties, which is essential for tasks like game playing or autonomous driving.<br></span>
                <span class="s11 on">Machine learning has vast applications across industries, from personalized recommendations in e-<br></span>
                <span class="s12 on">commerce and fraud detection in finance to disease prediction in healthcare and autonomous vehicles.<br></span>
                <span class="s13 on">Its ability to process and analyze complex data has revolutionized many sectors, driving innovation and<br></span>
                <span class="s14 on"> enabling more intelligent, data-driven decision-making processes.</span>
            </div>
        </div>
        <div class="model">
            <a class="model_button" href="/about">Machine learning models</a>
        </div>
    </div>

</section>
<section class="section " id ="section--3">
    <div class="for for2">
        <div class="cen cen2"><span class="about">WHAT IS WEB DEVELOPMENT</span></div>
        <div>
            <div class="about1">
                <span class="s1 on">Web development refers to the process of creating, building, and maintaining websites and web <br></span>
                <span class="s2  on">applications. It involves various aspects such as web design, web content development, client- <br></span>
                <span class="s3 on">side/server-side scripting, and network security configuration. Web development can be divided into <br></span>
                <span class="s4 on">three main categories: front-end development, back-end development, and full-stack development..<br></span>
                <span class="s5 on">Front-end development focuses on the part of the website that users interact with, using languages like <br><br></span>
                <span class="s6 on"> HTML, CSS, and JavaScript to create responsive and visually appealing interfaces. Back-end development <br> </span>
                <span class="s7 on">involves the server-side of the website, managing databases, server logic, and application programming  <br></span>
                <span class="s8 on">interfaces (APIs) using languages like Python, PHP, Ruby, or Node.js.<br></span>
                <span class="s9 on"> Full-stack developers work on both the front-end and back-end, handling the entire development <br><br></span>
                <span class="s10 on">process from start to finish. Web development also includes testing, performance optimization, and <br></span>
                <span class="s11 on">ensuring the site is accessible and user-friendly across different devices and browsers.<br></span>
                <span class="s12 on">With the rise of content management systems (CMS) like WordPress, and advancements in web .<br></span>
                <span class="s13 on">technologies, web development has become more accessible, enabling individuals and businesses to <br></span>
            </div>
        </div>
        <div class="model">
            <a class="model_button" href="/about-next">More on Web-dev</a>
        </div>
    </div>
</section>
<section class="section-section " id="section--4">
    <div class="for for2">
        <div class="sp"><span class="sp1">MEMBERS OF THE PROJECT</span></div>
        <div class="newsec">
            <div class="photosection">
                <div class="per1">
                    <h1>person1</h1>
                    <img class="p1" src="photos/6670985.jpg" alt="">
                    <h1 color="white">Partha jyoti</h1>
                </div>
                <div class="per2">
                    <h1>person2</h1>
                    <img class="p1" src="photos/6670985.jpg" alt="">
                </div>

                <div class="per3">
                    <h1>person3</h1>
                    <img class="p1" src="photos/6670985.jpg" alt="">
                </div>
                <div class="per4">
                    <h1>person4</h1>
                    <img class="p1" src="photos/6670985.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


<a href="/about">clikc me</a>
<a href="/about-next">click for next model</a>
<!-- <header class="one-more">
   <div class="more-more">
        <h1>Ready to create an<br> amazing website for your<br> company?</h1>
    </div>
</header> -->

<script src="/static/script1.js"></script>
</body>

</html>










